/*共通
 *= require_self
*/

*{
  text-decoration: none;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}
body{
  margin: 0;
  min-height: 100vh;
}
li{
  list-style: none;
}
/*-------タブレット-------*/
@media only screen and (max-width: 768px){
/*--header--*/
.pc{
  display: none;
}
.headerTop{
  padding-top: 10px;
  text-align: center;
}
.tabletMenu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  color: white;
  text-align: center;
  transform: translateY(-102%);
  transition: all 0.6s;
  width: 100%;
}
.tabletMenu ul{
  background-color: #d81b60;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.tabletMenu ul li{
  font-size: 1.1em;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid white;
}
.tabletMenu ul li a{
  display: block;
  color: #fff;
  padding: 1em 0;
}
.tabletMenu.active {
  transform: translateY(0%);
}
.navToggle{
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  right: 13px;
  top: 12px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  background: #d81b60;
  text-align: center;
}
.breadcrumb{

  margin: 0 auto;
}
.breadcrumb a{
  color:#3c96cf;
  margin-right: 10px;
}
.navToggle span {
  display: block;
  position: absolute;    /* .navToggleに対して */
  width: 38px;
  border-bottom: solid 5px #fff;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 10px;
}

.navToggle span:nth-child(2) {
  top: 23px;
}

.navToggle span:nth-child(3) {
  top: 36px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}
/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
}
/*--------PC用--------*/
@media only screen and (min-width: 769px){
/*-------header-------*/
.tablet{
  display: none;
}
header{
  position: relative;
	margin: 0 ;
  width: 100%;
  background-color: white;
  z-index: 10;
  position:fixed;
  top:0;
}
.headerTop{
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
}
.headerTitle{
  display: inline-block;
  font-size: 15px;
  font-weight:600;
  position: relative;
  top:-8px;
  color: rgba(18, 18, 18, 0.81);
  margin-bottom: 15px;
  letter-spacing:-1px;
}
.headerContact{
  display: inline-block;
  text-align: center;
  position: relative;
  float: right;
  font-size: 90%;
  top:25px;
}
header .tell{
  font-size: 180%;
  color: #d81b60;
  font-weight: 600;
}
.header-insta{
  display: inline-block;
  float: right;
  margin: 15px 0 0 40px;
}
/*header-menu*/
.menu span{
  font-size: 15px
}
ul.menu {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}
ul.menu > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: #d81b60;

}
ul.menu li a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  font-weight: bolder;
}

ul.menu li ul {
  visibility: hidden;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -0.5px;
  margin: 0;
  padding: 0;
}
ul.menu li:hover ul {
  visibility: visible;
}
ul.menu li ul li {
  background: #d81b60;
}
ul.menu > li:hover {
  background: #f94762;
}
ul.menu li:hover  {
  background: #f94762;
}
.header-menu li + li {
  border-left: 2px solid white;
}
ul.menu ul li{
  border-left: none;
}
ul.menu ul li a{
  background-color: rgba(0,0,0,0.4);
  border-bottom: 1px solid #fff;
}
ul.menu ul li a:hover{
    background: #f94762;;
}
.fa-home,.fa-caret-down{
  margin-right: 10px;
}
ul.menu i{
  font-size: 20px;
  padding-left: 15px;
}
.breadcrumb{
  width: 1000px;
  margin: 0 auto;
}
.breadcrumb a{
  color:#3c96cf;
  margin-right: 10px;
}
/*--footer--*/
footer{
  background-color: #303030;
  text-align: center;
  padding: 20px;
  color: #fff;
}
.footer-body{
  max-width: 1200px;
  margin: 0 auto;
}
.txtTop{
  font-size: 2rem;
}
.txtBottom{
  font-size: 1.25rem;
  color: #fff;
}
.footerAddress{
  font-size: 3rem;
  color: #d81b60;
}
.footerList ul li{
  display: inline-block;
  border-right: 1px solid #fff;
}
.footerList ul li:last-child{
  border-right: none;
}
.footerList ul li a{
  display: block;
  padding: 2px 25px;
  color: #fff;
}
.instag i{
  color: #eee;
}
}
.instag i{
  color: #eee;
}
