@media only screen and (max-width: 768px){
  .orderContainer{
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
  }
  .step1img{
    display: none;
  }
  .orderTitle{
    background-color: #cfcfcf;
    border-top: 2px solid #888;
    border-bottom: 2px dashed #888;
    margin-top: 10px;
    padding-left: 10px;
  }
  .orderTitle h1{
    margin: 10px 0;
    font-size: 17px;
    color:#555;
    border-bottom: 2px dashed #888;
  }
  .box{
    margin-bottom: 50px;
  }
  .Steps1 h2{
    font-size: 18px;
    margin-top: 40px;
    padding-left: 10px;
    border-bottom: solid 2px #d81b60;
    color:white;
    background-color: #d81b60;
    margin-bottom: 0;
  }
  .Steps1 h2 span{
    color: white;
    margin-right:10px;
  }
  .contactBox{
    width: 200px;
    margin: 0 auto;
    background-color: #d81b60;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .contactBox a{
    color: #fff;
    display: block;
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 769px){
.orderContainer{
    padding-top: 180px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .orderTitle{
    margin-bottom: 50px;
    padding-top: 13px;
    border-bottom: 3px dashed #888;
  }
  .orderTitle h1{
    margin: 0;
    border-top: 3px solid #888;
    background-color: #cfcfcf;
    padding: 18px 0;
    font-weight: 600;
    letter-spacing:-2px;
    color:#555;
    font-size: 20px;
  }
  .Steps1 h2{
    font-size: 20px;
    border-bottom: solid 2px #d81b60;
    background-color: #d81b60;
    color: #fff;
    margin-bottom: 0;
  }
  .Steps1 h2 span{
    color: white;
    margin:0 10px;
  }
  .stepOne,.stepTwo{
    border: double 2px #d81b60;
  }
  .stepOne p,.stepTwo p{
    margin: 50px 0;
    text-align: center;
  }
  .step1img{
    float: right;
    position: relative;
    right: 90px;
    bottom: 30px;
  }
  .box{
    margin-bottom: 50px;
  }
  .contactBox{
    width: 200px;
    margin: 0 auto;
    background-color: #d81b60;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .contactBox a{
    color: #fff;
    display: block;
    padding: 10px 20px;
  }
}