@media only screen and (max-width: 768px){
.company{
width:100%;
margin:2em auto;
border:rgba(0,0,0,1) 2px solid;
border-collapse:collapse;
}

.company th{
padding:3px;
display:block;
background-color: rgb(194, 194, 194);
text-align:center;
text-shadow: 1px 1px 0 rgba(0,0,0,1),
            -1px 1px 0 rgba(0,0,0,1),
            1px -1px 0 rgba(0,0,0,1),
            -1px -1px 0 rgba(0,0,0,1);
  color: white;
}
.company td{
padding:3px;
display:block;
text-align:center;
}
}
/*--------PCç”¨--------*/
@media only screen and (min-width: 769px) {
.company{
width:100% ;
max-width: 1200px;
margin:0 auto;
margin-bottom: 30px;
border: black 2px solid;
border-collapse:collapse;
}
.listbody{
  padding-top: 100px;
}
.overTitle{
  max-width: 1200px;
  padding-top: 180px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 13px;
  border-bottom: 3px dashed #888;
}
.overTitle h1{
  margin: 0;
  border-top: 3px solid #888;
  letter-spacing:-2px;
  font-weight: 600;
  color: #555;
  background-color: #cfcfcf;
  padding: 18px 0;
  font-size: 20px;
}
.company th{
width:40%;
padding: 10px 0;
display:table-cell;
text-align: center;
background-color: rgb(194, 194, 194);
border-bottom:rgba(0,0,0,1)  2px solid;
color: white;
text-shadow: 1px 1px 0 rgba(0,0,0,1),
             -1px 1px 0 rgba(0,0,0,1),
             1px -1px 0 rgba(0,0,0,1),
             -1px -1px 0 rgba(0,0,0,1);
}
.company td{
width:60%;
padding: 10px 0;
display:table-cell;
text-align: center;
border-bottom: rgba(0,0,0,1)  2px solid;

}
}